<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Created - Learning Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    <div class="container mx-auto mt-8 p-4 bg-white rounded-md shadow-md text-center">
        <%- include('flash-messages.ejs') %>
        <h2 class="text-3xl font-bold mb-6">Course Created Successfully!</h2>
        
        <a href="/add-chapter/<%= sendId.id %>" class="bg-black text-white px-8 py-4  font-bold hover:bg-gray-900 mb-4 inline-block">Add Chapters to Your Course</a>
        
        
        <a href="/dashboard" class="bg-black text-white px-8 py-4  font-bold hover:bg-gray-900 mb-4 inline-block">Go Back to Dashboard</a>
            <a href="/view-course/<%= sendId.id %>" class="bg-black text-white px-8 py-4  font-bold hover:bg-gray-900 mb-4 inline-block">Go to course overview</a>
    </div>

</body>

</html>
