<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chapter - Learning Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">
    <%- include('flash-messages.ejs') %>

    <div class="container mx-auto mt-8 p-4 bg-white rounded-md shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-center">Create New Chapter</h2>
        <form action="/add-chapter" method="POST">

            <div class="mb-4">
                <label for="chapterNumber" class="block text-gray-700 font-semibold mb-2">Chapter Number</label>
                <input type="number" id="chapterNumber" name="chapterNumber" class="w-full p-2 border rounded-md"
                    required>
            </div>


            <div class="mb-4">
                <label for="chapterName" class="block text-gray-700 font-semibold mb-2">Chapter Name</label>
                <input type="text" id="chapterName" name="chapterName" class="w-full p-2 border rounded-md" required>
            </div>


            <input type="hidden" id="courseId" name="courseId" value="<%= sendId.id %>">


            <div class="text-center">
                <button type="submit"
                    class="bg-blue-500 text-white px-6 py-3 rounded-full font-bold hover:bg-blue-600">Create Chapter</button>
            </div>
        </form>
    </div>

</body>

</html>
