<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/5c5a257758cff0acee4d28ff555f3bc5?family=Helvetica" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    <nav class="bg-black text-white text-center py-2 content-between	">
        <ul class="flex justify-between space-x-4 items-center ">
            <li class="text-2xl font-semibold px-4"><a href="/" style="font-family: serif; letter-spacing: 2px;" class="hover:underline">lms</a></li>
            <div class="flex justify-between gap-4 items-center px-4">
                <li><a href="/explore-courses" class="hover:underline">View Courses</a></li>
                <li><a href="/signup-student" class="hover:underline">Sign Up for Students</a></li>
                <li><a href="/signup-educator" class="hover:underline">Sign Up for Educators</a></li>
                <li><a href="/login" class="hover:underline">Sign In</a></li>
            </div>
        </ul>
    </nav>

    <header class="bg-indigo-300 text-white text-center py-4">
        <h1 class="text-4xl font-bold">Learn Anytime, Anywhere</h1>
        <p class="mt-2">Unlock the power of knowledge with our Learning Management System.</p>
    </header>

    <section class="container mx-auto mt-8 p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white p-4 rounded-md shadow-md">
                <h2 class="text-xl font-bold mb-2">Explore Courses</h2>
                <p class="text-gray-700">Discover a wide range of courses to enhance your skills and knowledge.</p>
            </div>

            <div class="bg-white p-4 rounded-md shadow-md">
                <h2 class="text-xl font-bold mb-2">Track Progress</h2>
                <p class="text-gray-700">Monitor your learning journey with detailed progress tracking features.</p>
            </div>

            <div class="bg-white p-4 rounded-md shadow-md">
                <h2 class="text-xl font-bold mb-2">Get Certified</h2>
                <p class="text-gray-700">Earn industry accredited certificates and boost your career</p>
            </div>
        </div>
    </section>

    <section class="container mx-auto mt-8 mb-4 p-4 flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold mb-4">Why Choose Us?</h2>
        <ul class="list-inside text-gray-700 list-none">
            <li>Quality Courses from Industry Experts</li>
            <li>Flexible Learning Schedule</li>
            <li>Interactive Learning Environment</li>
            <li>24/7 Access to Course Material</li>
            <li>Community Support and Collaboration</li>
        </ul>
    </section>

    <section class="bg-black text-white py-8">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-2">Start Your Learning Journey Today!</h2>
            <p class="mb-4">Join us and unlock a world of opportunities.</p>
            <a href="#" class="bg-white text-black px-6 py-3  font-bold hover:bg-gray-200">Get
                Started</a>
        </div>
    </section>
    <footer class="bg-gray-800 text-white text-center py-1  w-full">
        <p>&copy; 2024 Learning Management System</p>
    </footer>

</body>

</html>